# Dependencies
node_modules/
**/node_modules/

# Testing
coverage/
**/coverage/

# Production
dist/
**/dist/
build/
**/build/

# Environment
.env
.env.*
!.env.example

# Docker logs
*.log

# OS Metadata
.DS_Store
**/ .DS_Store
Thumbs.db

# Kubernetes (Local experimentation)
kubernetes/
